<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xmlns:tx="http://www.springframework.org/schema/tx"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--    	http://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--    	http://www.springframework.org/schema/context-->
<!--    	http://www.springframework.org/schema/context/spring-context.xsd">-->

<!--    <context:component-scan base-package="service.database" />-->





<!--    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->

<!--        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />-->
<!--        <property name="Url" value="jdbc:mysql://localhost:3306/my_db?allowPublicKeyRetrieval=true&amp;useSSL=false&amp;serverTimezone=UTC" />-->
<!--        <property name="username" value="wwroot" />-->
<!--        <property name="password" value="1qaz@WSX" />-->
<!--    </bean>-->

<!--    <bean id="sessionFactory"-->
<!--          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">-->
<!--        <property name="dataSource" ref="dataSource" />-->
<!--        <property name="packagesToScan" value="service.database.jpa.entity" />-->
<!--        <property name="hibernateProperties">-->
<!--            <props>-->
<!--                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>-->
<!--                <prop key="hibernate.show_sql">true</prop>-->
<!--            </props>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="transactionManager"-->
<!--          class="org.springframework.orm.hibernate5.HibernateTransactionManager">-->
<!--        <property name="sessionFactory" ref="sessionFactory"/>-->
<!--    </bean>-->

<!--    <tx:annotation-driven transaction-manager="transactionManager" />-->


<!--</beans>-->


